<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcell.taskmanager">

    <!-- Internet permission is needed for dropbox communication -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.TaskManagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />

                <action android:name="android.intent.action.GET_CONTENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.EditTaskActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service
            android:name=".Notification.TaskNotificationService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".UI.SettingsActivity" />

        <service
            android:name=".Cloud.CloudService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>